:root {
  --color-light: #F9F5F4;
  --color-primary-medium: #ACD5D9;
  --color-primary: #D5EDEA;
  --color-secondary-dark: #6E6985;
  --color-secondary-light: #DADCE7;
  --color-accent-dark: #E16675;
  --color-accent-light: #ECCBC6;
  --color-dark: #4D4F5C;
  --color-darkest: #26272D;

  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Sarabun", sans-serif;
  --font-accent: "Merienda", serif;
}

/* @utility Apply the secondary typeface */
.font-secondary {
  font-family: var(--font-secondary);
}

/* @utility Apply the accent typeface */
.font-accent {
  font-family: var(--font-accent);
}

/* @utility Apply a contrasting background colour to an element */
.section-contrast {
  background-color: var(--color-primary);
}

h1, h2 {
  font-family: var(--font-accent);
  color: var(--color-secondary-dark);
}

h3, h4, h5, h6 {
  font-family: var(--font-secondary);
  color: var(--color-dark);
}

a {
  color: var(--color-secondary-dark);
}

a:visited {
  color: var(--color-primary-medium);
}

a:hover {
  color: var(--color-secondary-dark);
}

a:active {
  color: var(--color-accent-dark);
}

dl, ol, ul {
  font-weight: 600;
  color: var(--color-dark);
}
