.masthead {
  max-height: 400px;
  background-color: var(--color-primary-medium);
}

.nav {
    background-color: var(--color-primary-dark);
}

.nav a {
  color: var(--color-secondary-light);
  font-family: var(--font-primary);
  background-color: var(--color-primary-dark);
  text-decoration: none;
  border: 2px solid var(--color-secondary-dark);
  border-radius: 3px;
}

.nav a:hover {
  color: var(--color-secondary-dark);
  font-family: var(--font-primary);
  background-color: var(--color-primary-medium);
  text-decoration: none;
  border: 2px solid var(--color-secondary-light);
  border-radius: 3px;
}
